.col-1 {
  width: 99.99% ; }

.col-2 {
  width: 49.99% ; }

.col-3 {
  width: 33.32333% ; }
  .col-3.col-x2 {
    width: 66.65667% ; }

.col-4 {
  width: 24.99% ; }
  .col-4.col-x2 {
    width: 49.99% ; }
  .col-4.col-x3 {
    width: 74.99% ; }

.col-5 {
  width: 19.99% ; }
  .col-5.col-x2 {
    width: 39.99% ; }
  .col-5.col-x3 {
    width: 59.99% ; }
  .col-5.col-x4 {
    width: 79.99% ; }

.col-6 {
  width: 16.65667% ; }
  .col-6.col-x2 {
    width: 33.32333% ; }
  .col-6.col-x3 {
    width: 49.99% ; }
  .col-6.col-x4 {
    width: 66.65667% ; }
  .col-6.col-x5 {
    width: 83.32333% ; }

.col-7 {
  width: 14.27571% ; }
  .col-7.col-x2 {
    width: 28.56143% ; }
  .col-7.col-x3 {
    width: 42.84714% ; }
  .col-7.col-x4 {
    width: 57.13286% ; }
  .col-7.col-x5 {
    width: 71.41857% ; }
  .col-7.col-x6 {
    width: 85.70429% ; }

.col-8 {
  width: 12.49% ; }
  .col-8.col-x2 {
    width: 24.99% ; }
  .col-8.col-x3 {
    width: 37.49% ; }
  .col-8.col-x4 {
    width: 49.99% ; }
  .col-8.col-x5 {
    width: 62.49% ; }
  .col-8.col-x6 {
    width: 74.99% ; }
  .col-8.col-x7 {
    width: 87.49% ; }

.col-9 {
  width: 11.10111% ; }
  .col-9.col-x2 {
    width: 22.21222% ; }
  .col-9.col-x3 {
    width: 33.32333% ; }
  .col-9.col-x4 {
    width: 44.43444% ; }
  .col-9.col-x5 {
    width: 55.54556% ; }
  .col-9.col-x6 {
    width: 66.65667% ; }
  .col-9.col-x7 {
    width: 77.76778% ; }
  .col-9.col-x8 {
    width: 88.87889% ; }

.col-10 {
  width: 9.99% ; }
  .col-10.col-x2 {
    width: 19.99% ; }
  .col-10.col-x3 {
    width: 29.99% ; }
  .col-10.col-x4 {
    width: 39.99% ; }
  .col-10.col-x5 {
    width: 49.99% ; }
  .col-10.col-x6 {
    width: 59.99% ; }
  .col-10.col-x7 {
    width: 69.99% ; }
  .col-10.col-x8 {
    width: 79.99% ; }
  .col-10.col-x9 {
    width: 89.99% ; }

.col-11 {
  width: 9.08091% ; }
  .col-11.col-x2 {
    width: 18.17182% ; }
  .col-11.col-x3 {
    width: 27.26273% ; }
  .col-11.col-x4 {
    width: 36.35364% ; }
  .col-11.col-x5 {
    width: 45.44455% ; }
  .col-11.col-x6 {
    width: 54.53545% ; }
  .col-11.col-x7 {
    width: 63.62636% ; }
  .col-11.col-x8 {
    width: 72.71727% ; }
  .col-11.col-x9 {
    width: 81.80818% ; }
  .col-11.col-x10 {
    width: 90.89909% ; }

.col-12 {
  width: 8.32333% ; }
  .col-12.col-x2 {
    width: 16.65667% ; }
  .col-12.col-x3 {
    width: 24.99% ; }
  .col-12.col-x4 {
    width: 33.32333% ; }
  .col-12.col-x5 {
    width: 41.65667% ; }
  .col-12.col-x6 {
    width: 49.99% ; }
  .col-12.col-x7 {
    width: 58.32333% ; }
  .col-12.col-x8 {
    width: 66.65667% ; }
  .col-12.col-x9 {
    width: 74.99% ; }
  .col-12.col-x10 {
    width: 83.32333% ; }
  .col-12.col-x11 {
    width: 91.65667% ; }

.col-13 {
  width: 7.68231% ; }
  .col-13.col-x2 {
    width: 15.37462% ; }
  .col-13.col-x3 {
    width: 23.06692% ; }
  .col-13.col-x4 {
    width: 30.75923% ; }
  .col-13.col-x5 {
    width: 38.45154% ; }
  .col-13.col-x6 {
    width: 46.14385% ; }
  .col-13.col-x7 {
    width: 53.83615% ; }
  .col-13.col-x8 {
    width: 61.52846% ; }
  .col-13.col-x9 {
    width: 69.22077% ; }
  .col-13.col-x10 {
    width: 76.91308% ; }
  .col-13.col-x11 {
    width: 84.60538% ; }
  .col-13.col-x12 {
    width: 92.29769% ; }

.col-14 {
  width: 7.13286% ; }
  .col-14.col-x2 {
    width: 14.27571% ; }
  .col-14.col-x3 {
    width: 21.41857% ; }
  .col-14.col-x4 {
    width: 28.56143% ; }
  .col-14.col-x5 {
    width: 35.70429% ; }
  .col-14.col-x6 {
    width: 42.84714% ; }
  .col-14.col-x7 {
    width: 49.99% ; }
  .col-14.col-x8 {
    width: 57.13286% ; }
  .col-14.col-x9 {
    width: 64.27571% ; }
  .col-14.col-x10 {
    width: 71.41857% ; }
  .col-14.col-x11 {
    width: 78.56143% ; }
  .col-14.col-x12 {
    width: 85.70429% ; }
  .col-14.col-x13 {
    width: 92.84714% ; }

.col-15 {
  width: 6.65667% ; }
  .col-15.col-x2 {
    width: 13.32333% ; }
  .col-15.col-x3 {
    width: 19.99% ; }
  .col-15.col-x4 {
    width: 26.65667% ; }
  .col-15.col-x5 {
    width: 33.32333% ; }
  .col-15.col-x6 {
    width: 39.99% ; }
  .col-15.col-x7 {
    width: 46.65667% ; }
  .col-15.col-x8 {
    width: 53.32333% ; }
  .col-15.col-x9 {
    width: 59.99% ; }
  .col-15.col-x10 {
    width: 66.65667% ; }
  .col-15.col-x11 {
    width: 73.32333% ; }
  .col-15.col-x12 {
    width: 79.99% ; }
  .col-15.col-x13 {
    width: 86.65667% ; }
  .col-15.col-x14 {
    width: 93.32333% ; }

.col-16 {
  width: 6.24% ; }
  .col-16.col-x2 {
    width: 12.49% ; }
  .col-16.col-x3 {
    width: 18.74% ; }
  .col-16.col-x4 {
    width: 24.99% ; }
  .col-16.col-x5 {
    width: 31.24% ; }
  .col-16.col-x6 {
    width: 37.49% ; }
  .col-16.col-x7 {
    width: 43.74% ; }
  .col-16.col-x8 {
    width: 49.99% ; }
  .col-16.col-x9 {
    width: 56.24% ; }
  .col-16.col-x10 {
    width: 62.49% ; }
  .col-16.col-x11 {
    width: 68.74% ; }
  .col-16.col-x12 {
    width: 74.99% ; }
  .col-16.col-x13 {
    width: 81.24% ; }
  .col-16.col-x14 {
    width: 87.49% ; }
  .col-16.col-x15 {
    width: 93.74% ; }

.col-17 {
  width: 5.87235% ; }
  .col-17.col-x2 {
    width: 11.75471% ; }
  .col-17.col-x3 {
    width: 17.63706% ; }
  .col-17.col-x4 {
    width: 23.51941% ; }
  .col-17.col-x5 {
    width: 29.40176% ; }
  .col-17.col-x6 {
    width: 35.28412% ; }
  .col-17.col-x7 {
    width: 41.16647% ; }
  .col-17.col-x8 {
    width: 47.04882% ; }
  .col-17.col-x9 {
    width: 52.93118% ; }
  .col-17.col-x10 {
    width: 58.81353% ; }
  .col-17.col-x11 {
    width: 64.69588% ; }
  .col-17.col-x12 {
    width: 70.57824% ; }
  .col-17.col-x13 {
    width: 76.46059% ; }
  .col-17.col-x14 {
    width: 82.34294% ; }
  .col-17.col-x15 {
    width: 88.22529% ; }
  .col-17.col-x16 {
    width: 94.10765% ; }

.col-18 {
  width: 5.54556% ; }
  .col-18.col-x2 {
    width: 11.10111% ; }
  .col-18.col-x3 {
    width: 16.65667% ; }
  .col-18.col-x4 {
    width: 22.21222% ; }
  .col-18.col-x5 {
    width: 27.76778% ; }
  .col-18.col-x6 {
    width: 33.32333% ; }
  .col-18.col-x7 {
    width: 38.87889% ; }
  .col-18.col-x8 {
    width: 44.43444% ; }
  .col-18.col-x9 {
    width: 49.99% ; }
  .col-18.col-x10 {
    width: 55.54556% ; }
  .col-18.col-x11 {
    width: 61.10111% ; }
  .col-18.col-x12 {
    width: 66.65667% ; }
  .col-18.col-x13 {
    width: 72.21222% ; }
  .col-18.col-x14 {
    width: 77.76778% ; }
  .col-18.col-x15 {
    width: 83.32333% ; }
  .col-18.col-x16 {
    width: 88.87889% ; }
  .col-18.col-x17 {
    width: 94.43444% ; }

.col-19 {
  width: 5.25316% ; }
  .col-19.col-x2 {
    width: 10.51632% ; }
  .col-19.col-x3 {
    width: 15.77947% ; }
  .col-19.col-x4 {
    width: 21.04263% ; }
  .col-19.col-x5 {
    width: 26.30579% ; }
  .col-19.col-x6 {
    width: 31.56895% ; }
  .col-19.col-x7 {
    width: 36.83211% ; }
  .col-19.col-x8 {
    width: 42.09526% ; }
  .col-19.col-x9 {
    width: 47.35842% ; }
  .col-19.col-x10 {
    width: 52.62158% ; }
  .col-19.col-x11 {
    width: 57.88474% ; }
  .col-19.col-x12 {
    width: 63.14789% ; }
  .col-19.col-x13 {
    width: 68.41105% ; }
  .col-19.col-x14 {
    width: 73.67421% ; }
  .col-19.col-x15 {
    width: 78.93737% ; }
  .col-19.col-x16 {
    width: 84.20053% ; }
  .col-19.col-x17 {
    width: 89.46368% ; }
  .col-19.col-x18 {
    width: 94.72684% ; }

.col-20 {
  width: 4.99% ; }
  .col-20.col-x2 {
    width: 9.99% ; }
  .col-20.col-x3 {
    width: 14.99% ; }
  .col-20.col-x4 {
    width: 19.99% ; }
  .col-20.col-x5 {
    width: 24.99% ; }
  .col-20.col-x6 {
    width: 29.99% ; }
  .col-20.col-x7 {
    width: 34.99% ; }
  .col-20.col-x8 {
    width: 39.99% ; }
  .col-20.col-x9 {
    width: 44.99% ; }
  .col-20.col-x10 {
    width: 49.99% ; }
  .col-20.col-x11 {
    width: 54.99% ; }
  .col-20.col-x12 {
    width: 59.99% ; }
  .col-20.col-x13 {
    width: 64.99% ; }
  .col-20.col-x14 {
    width: 69.99% ; }
  .col-20.col-x15 {
    width: 74.99% ; }
  .col-20.col-x16 {
    width: 79.99% ; }
  .col-20.col-x17 {
    width: 84.99% ; }
  .col-20.col-x18 {
    width: 89.99% ; }
  .col-20.col-x19 {
    width: 94.99% ; }

.col-21 {
  width: 4.7519% ; }
  .col-21.col-x2 {
    width: 9.51381% ; }
  .col-21.col-x3 {
    width: 14.27571% ; }
  .col-21.col-x4 {
    width: 19.03762% ; }
  .col-21.col-x5 {
    width: 23.79952% ; }
  .col-21.col-x6 {
    width: 28.56143% ; }
  .col-21.col-x7 {
    width: 33.32333% ; }
  .col-21.col-x8 {
    width: 38.08524% ; }
  .col-21.col-x9 {
    width: 42.84714% ; }
  .col-21.col-x10 {
    width: 47.60905% ; }
  .col-21.col-x11 {
    width: 52.37095% ; }
  .col-21.col-x12 {
    width: 57.13286% ; }
  .col-21.col-x13 {
    width: 61.89476% ; }
  .col-21.col-x14 {
    width: 66.65667% ; }
  .col-21.col-x15 {
    width: 71.41857% ; }
  .col-21.col-x16 {
    width: 76.18048% ; }
  .col-21.col-x17 {
    width: 80.94238% ; }
  .col-21.col-x18 {
    width: 85.70429% ; }
  .col-21.col-x19 {
    width: 90.46619% ; }
  .col-21.col-x20 {
    width: 95.2281% ; }

.col-22 {
  width: 4.53545% ; }
  .col-22.col-x2 {
    width: 9.08091% ; }
  .col-22.col-x3 {
    width: 13.62636% ; }
  .col-22.col-x4 {
    width: 18.17182% ; }
  .col-22.col-x5 {
    width: 22.71727% ; }
  .col-22.col-x6 {
    width: 27.26273% ; }
  .col-22.col-x7 {
    width: 31.80818% ; }
  .col-22.col-x8 {
    width: 36.35364% ; }
  .col-22.col-x9 {
    width: 40.89909% ; }
  .col-22.col-x10 {
    width: 45.44455% ; }
  .col-22.col-x11 {
    width: 49.99% ; }
  .col-22.col-x12 {
    width: 54.53545% ; }
  .col-22.col-x13 {
    width: 59.08091% ; }
  .col-22.col-x14 {
    width: 63.62636% ; }
  .col-22.col-x15 {
    width: 68.17182% ; }
  .col-22.col-x16 {
    width: 72.71727% ; }
  .col-22.col-x17 {
    width: 77.26273% ; }
  .col-22.col-x18 {
    width: 81.80818% ; }
  .col-22.col-x19 {
    width: 86.35364% ; }
  .col-22.col-x20 {
    width: 90.89909% ; }
  .col-22.col-x21 {
    width: 95.44455% ; }

.col-23 {
  width: 4.33783% ; }
  .col-23.col-x2 {
    width: 8.68565% ; }
  .col-23.col-x3 {
    width: 13.03348% ; }
  .col-23.col-x4 {
    width: 17.3813% ; }
  .col-23.col-x5 {
    width: 21.72913% ; }
  .col-23.col-x6 {
    width: 26.07696% ; }
  .col-23.col-x7 {
    width: 30.42478% ; }
  .col-23.col-x8 {
    width: 34.77261% ; }
  .col-23.col-x9 {
    width: 39.12043% ; }
  .col-23.col-x10 {
    width: 43.46826% ; }
  .col-23.col-x11 {
    width: 47.81609% ; }
  .col-23.col-x12 {
    width: 52.16391% ; }
  .col-23.col-x13 {
    width: 56.51174% ; }
  .col-23.col-x14 {
    width: 60.85957% ; }
  .col-23.col-x15 {
    width: 65.20739% ; }
  .col-23.col-x16 {
    width: 69.55522% ; }
  .col-23.col-x17 {
    width: 73.90304% ; }
  .col-23.col-x18 {
    width: 78.25087% ; }
  .col-23.col-x19 {
    width: 82.5987% ; }
  .col-23.col-x20 {
    width: 86.94652% ; }
  .col-23.col-x21 {
    width: 91.29435% ; }
  .col-23.col-x22 {
    width: 95.64217% ; }

.col-24 {
  width: 4.15667% ; }
  .col-24.col-x2 {
    width: 8.32333% ; }
  .col-24.col-x3 {
    width: 12.49% ; }
  .col-24.col-x4 {
    width: 16.65667% ; }
  .col-24.col-x5 {
    width: 20.82333% ; }
  .col-24.col-x6 {
    width: 24.99% ; }
  .col-24.col-x7 {
    width: 29.15667% ; }
  .col-24.col-x8 {
    width: 33.32333% ; }
  .col-24.col-x9 {
    width: 37.49% ; }
  .col-24.col-x10 {
    width: 41.65667% ; }
  .col-24.col-x11 {
    width: 45.82333% ; }
  .col-24.col-x12 {
    width: 49.99% ; }
  .col-24.col-x13 {
    width: 54.15667% ; }
  .col-24.col-x14 {
    width: 58.32333% ; }
  .col-24.col-x15 {
    width: 62.49% ; }
  .col-24.col-x16 {
    width: 66.65667% ; }
  .col-24.col-x17 {
    width: 70.82333% ; }
  .col-24.col-x18 {
    width: 74.99% ; }
  .col-24.col-x19 {
    width: 79.15667% ; }
  .col-24.col-x20 {
    width: 83.32333% ; }
  .col-24.col-x21 {
    width: 87.49% ; }
  .col-24.col-x22 {
    width: 91.65667% ; }
  .col-24.col-x23 {
    width: 95.82333% ; }

@media screen and (max-width: 768px) {
  .col-1-tablet {
    width: 99.99% !important; }

  .col-2-tablet {
    width: 49.99% !important; }

  .col-3-tablet {
    width: 33.32333% !important; }
    .col-3-tablet.col-x2-tablet {
      width: 66.65667% !important; }

  .col-4-tablet {
    width: 24.99% !important; }
    .col-4-tablet.col-x2-tablet {
      width: 49.99% !important; }
    .col-4-tablet.col-x3-tablet {
      width: 74.99% !important; }

  .col-5-tablet {
    width: 19.99% !important; }
    .col-5-tablet.col-x2-tablet {
      width: 39.99% !important; }
    .col-5-tablet.col-x3-tablet {
      width: 59.99% !important; }
    .col-5-tablet.col-x4-tablet {
      width: 79.99% !important; }

  .col-6-tablet {
    width: 16.65667% !important; }
    .col-6-tablet.col-x2-tablet {
      width: 33.32333% !important; }
    .col-6-tablet.col-x3-tablet {
      width: 49.99% !important; }
    .col-6-tablet.col-x4-tablet {
      width: 66.65667% !important; }
    .col-6-tablet.col-x5-tablet {
      width: 83.32333% !important; }

  .col-7-tablet {
    width: 14.27571% !important; }
    .col-7-tablet.col-x2-tablet {
      width: 28.56143% !important; }
    .col-7-tablet.col-x3-tablet {
      width: 42.84714% !important; }
    .col-7-tablet.col-x4-tablet {
      width: 57.13286% !important; }
    .col-7-tablet.col-x5-tablet {
      width: 71.41857% !important; }
    .col-7-tablet.col-x6-tablet {
      width: 85.70429% !important; }

  .col-8-tablet {
    width: 12.49% !important; }
    .col-8-tablet.col-x2-tablet {
      width: 24.99% !important; }
    .col-8-tablet.col-x3-tablet {
      width: 37.49% !important; }
    .col-8-tablet.col-x4-tablet {
      width: 49.99% !important; }
    .col-8-tablet.col-x5-tablet {
      width: 62.49% !important; }
    .col-8-tablet.col-x6-tablet {
      width: 74.99% !important; }
    .col-8-tablet.col-x7-tablet {
      width: 87.49% !important; }

  .col-9-tablet {
    width: 11.10111% !important; }
    .col-9-tablet.col-x2-tablet {
      width: 22.21222% !important; }
    .col-9-tablet.col-x3-tablet {
      width: 33.32333% !important; }
    .col-9-tablet.col-x4-tablet {
      width: 44.43444% !important; }
    .col-9-tablet.col-x5-tablet {
      width: 55.54556% !important; }
    .col-9-tablet.col-x6-tablet {
      width: 66.65667% !important; }
    .col-9-tablet.col-x7-tablet {
      width: 77.76778% !important; }
    .col-9-tablet.col-x8-tablet {
      width: 88.87889% !important; }

  .col-10-tablet {
    width: 9.99% !important; }
    .col-10-tablet.col-x2-tablet {
      width: 19.99% !important; }
    .col-10-tablet.col-x3-tablet {
      width: 29.99% !important; }
    .col-10-tablet.col-x4-tablet {
      width: 39.99% !important; }
    .col-10-tablet.col-x5-tablet {
      width: 49.99% !important; }
    .col-10-tablet.col-x6-tablet {
      width: 59.99% !important; }
    .col-10-tablet.col-x7-tablet {
      width: 69.99% !important; }
    .col-10-tablet.col-x8-tablet {
      width: 79.99% !important; }
    .col-10-tablet.col-x9-tablet {
      width: 89.99% !important; }

  .col-11-tablet {
    width: 9.08091% !important; }
    .col-11-tablet.col-x2-tablet {
      width: 18.17182% !important; }
    .col-11-tablet.col-x3-tablet {
      width: 27.26273% !important; }
    .col-11-tablet.col-x4-tablet {
      width: 36.35364% !important; }
    .col-11-tablet.col-x5-tablet {
      width: 45.44455% !important; }
    .col-11-tablet.col-x6-tablet {
      width: 54.53545% !important; }
    .col-11-tablet.col-x7-tablet {
      width: 63.62636% !important; }
    .col-11-tablet.col-x8-tablet {
      width: 72.71727% !important; }
    .col-11-tablet.col-x9-tablet {
      width: 81.80818% !important; }
    .col-11-tablet.col-x10-tablet {
      width: 90.89909% !important; }

  .col-12-tablet {
    width: 8.32333% !important; }
    .col-12-tablet.col-x2-tablet {
      width: 16.65667% !important; }
    .col-12-tablet.col-x3-tablet {
      width: 24.99% !important; }
    .col-12-tablet.col-x4-tablet {
      width: 33.32333% !important; }
    .col-12-tablet.col-x5-tablet {
      width: 41.65667% !important; }
    .col-12-tablet.col-x6-tablet {
      width: 49.99% !important; }
    .col-12-tablet.col-x7-tablet {
      width: 58.32333% !important; }
    .col-12-tablet.col-x8-tablet {
      width: 66.65667% !important; }
    .col-12-tablet.col-x9-tablet {
      width: 74.99% !important; }
    .col-12-tablet.col-x10-tablet {
      width: 83.32333% !important; }
    .col-12-tablet.col-x11-tablet {
      width: 91.65667% !important; }

  .col-13-tablet {
    width: 7.68231% !important; }
    .col-13-tablet.col-x2-tablet {
      width: 15.37462% !important; }
    .col-13-tablet.col-x3-tablet {
      width: 23.06692% !important; }
    .col-13-tablet.col-x4-tablet {
      width: 30.75923% !important; }
    .col-13-tablet.col-x5-tablet {
      width: 38.45154% !important; }
    .col-13-tablet.col-x6-tablet {
      width: 46.14385% !important; }
    .col-13-tablet.col-x7-tablet {
      width: 53.83615% !important; }
    .col-13-tablet.col-x8-tablet {
      width: 61.52846% !important; }
    .col-13-tablet.col-x9-tablet {
      width: 69.22077% !important; }
    .col-13-tablet.col-x10-tablet {
      width: 76.91308% !important; }
    .col-13-tablet.col-x11-tablet {
      width: 84.60538% !important; }
    .col-13-tablet.col-x12-tablet {
      width: 92.29769% !important; }

  .col-14-tablet {
    width: 7.13286% !important; }
    .col-14-tablet.col-x2-tablet {
      width: 14.27571% !important; }
    .col-14-tablet.col-x3-tablet {
      width: 21.41857% !important; }
    .col-14-tablet.col-x4-tablet {
      width: 28.56143% !important; }
    .col-14-tablet.col-x5-tablet {
      width: 35.70429% !important; }
    .col-14-tablet.col-x6-tablet {
      width: 42.84714% !important; }
    .col-14-tablet.col-x7-tablet {
      width: 49.99% !important; }
    .col-14-tablet.col-x8-tablet {
      width: 57.13286% !important; }
    .col-14-tablet.col-x9-tablet {
      width: 64.27571% !important; }
    .col-14-tablet.col-x10-tablet {
      width: 71.41857% !important; }
    .col-14-tablet.col-x11-tablet {
      width: 78.56143% !important; }
    .col-14-tablet.col-x12-tablet {
      width: 85.70429% !important; }
    .col-14-tablet.col-x13-tablet {
      width: 92.84714% !important; }

  .col-15-tablet {
    width: 6.65667% !important; }
    .col-15-tablet.col-x2-tablet {
      width: 13.32333% !important; }
    .col-15-tablet.col-x3-tablet {
      width: 19.99% !important; }
    .col-15-tablet.col-x4-tablet {
      width: 26.65667% !important; }
    .col-15-tablet.col-x5-tablet {
      width: 33.32333% !important; }
    .col-15-tablet.col-x6-tablet {
      width: 39.99% !important; }
    .col-15-tablet.col-x7-tablet {
      width: 46.65667% !important; }
    .col-15-tablet.col-x8-tablet {
      width: 53.32333% !important; }
    .col-15-tablet.col-x9-tablet {
      width: 59.99% !important; }
    .col-15-tablet.col-x10-tablet {
      width: 66.65667% !important; }
    .col-15-tablet.col-x11-tablet {
      width: 73.32333% !important; }
    .col-15-tablet.col-x12-tablet {
      width: 79.99% !important; }
    .col-15-tablet.col-x13-tablet {
      width: 86.65667% !important; }
    .col-15-tablet.col-x14-tablet {
      width: 93.32333% !important; }

  .col-16-tablet {
    width: 6.24% !important; }
    .col-16-tablet.col-x2-tablet {
      width: 12.49% !important; }
    .col-16-tablet.col-x3-tablet {
      width: 18.74% !important; }
    .col-16-tablet.col-x4-tablet {
      width: 24.99% !important; }
    .col-16-tablet.col-x5-tablet {
      width: 31.24% !important; }
    .col-16-tablet.col-x6-tablet {
      width: 37.49% !important; }
    .col-16-tablet.col-x7-tablet {
      width: 43.74% !important; }
    .col-16-tablet.col-x8-tablet {
      width: 49.99% !important; }
    .col-16-tablet.col-x9-tablet {
      width: 56.24% !important; }
    .col-16-tablet.col-x10-tablet {
      width: 62.49% !important; }
    .col-16-tablet.col-x11-tablet {
      width: 68.74% !important; }
    .col-16-tablet.col-x12-tablet {
      width: 74.99% !important; }
    .col-16-tablet.col-x13-tablet {
      width: 81.24% !important; }
    .col-16-tablet.col-x14-tablet {
      width: 87.49% !important; }
    .col-16-tablet.col-x15-tablet {
      width: 93.74% !important; }

  .col-17-tablet {
    width: 5.87235% !important; }
    .col-17-tablet.col-x2-tablet {
      width: 11.75471% !important; }
    .col-17-tablet.col-x3-tablet {
      width: 17.63706% !important; }
    .col-17-tablet.col-x4-tablet {
      width: 23.51941% !important; }
    .col-17-tablet.col-x5-tablet {
      width: 29.40176% !important; }
    .col-17-tablet.col-x6-tablet {
      width: 35.28412% !important; }
    .col-17-tablet.col-x7-tablet {
      width: 41.16647% !important; }
    .col-17-tablet.col-x8-tablet {
      width: 47.04882% !important; }
    .col-17-tablet.col-x9-tablet {
      width: 52.93118% !important; }
    .col-17-tablet.col-x10-tablet {
      width: 58.81353% !important; }
    .col-17-tablet.col-x11-tablet {
      width: 64.69588% !important; }
    .col-17-tablet.col-x12-tablet {
      width: 70.57824% !important; }
    .col-17-tablet.col-x13-tablet {
      width: 76.46059% !important; }
    .col-17-tablet.col-x14-tablet {
      width: 82.34294% !important; }
    .col-17-tablet.col-x15-tablet {
      width: 88.22529% !important; }
    .col-17-tablet.col-x16-tablet {
      width: 94.10765% !important; }

  .col-18-tablet {
    width: 5.54556% !important; }
    .col-18-tablet.col-x2-tablet {
      width: 11.10111% !important; }
    .col-18-tablet.col-x3-tablet {
      width: 16.65667% !important; }
    .col-18-tablet.col-x4-tablet {
      width: 22.21222% !important; }
    .col-18-tablet.col-x5-tablet {
      width: 27.76778% !important; }
    .col-18-tablet.col-x6-tablet {
      width: 33.32333% !important; }
    .col-18-tablet.col-x7-tablet {
      width: 38.87889% !important; }
    .col-18-tablet.col-x8-tablet {
      width: 44.43444% !important; }
    .col-18-tablet.col-x9-tablet {
      width: 49.99% !important; }
    .col-18-tablet.col-x10-tablet {
      width: 55.54556% !important; }
    .col-18-tablet.col-x11-tablet {
      width: 61.10111% !important; }
    .col-18-tablet.col-x12-tablet {
      width: 66.65667% !important; }
    .col-18-tablet.col-x13-tablet {
      width: 72.21222% !important; }
    .col-18-tablet.col-x14-tablet {
      width: 77.76778% !important; }
    .col-18-tablet.col-x15-tablet {
      width: 83.32333% !important; }
    .col-18-tablet.col-x16-tablet {
      width: 88.87889% !important; }
    .col-18-tablet.col-x17-tablet {
      width: 94.43444% !important; }

  .col-19-tablet {
    width: 5.25316% !important; }
    .col-19-tablet.col-x2-tablet {
      width: 10.51632% !important; }
    .col-19-tablet.col-x3-tablet {
      width: 15.77947% !important; }
    .col-19-tablet.col-x4-tablet {
      width: 21.04263% !important; }
    .col-19-tablet.col-x5-tablet {
      width: 26.30579% !important; }
    .col-19-tablet.col-x6-tablet {
      width: 31.56895% !important; }
    .col-19-tablet.col-x7-tablet {
      width: 36.83211% !important; }
    .col-19-tablet.col-x8-tablet {
      width: 42.09526% !important; }
    .col-19-tablet.col-x9-tablet {
      width: 47.35842% !important; }
    .col-19-tablet.col-x10-tablet {
      width: 52.62158% !important; }
    .col-19-tablet.col-x11-tablet {
      width: 57.88474% !important; }
    .col-19-tablet.col-x12-tablet {
      width: 63.14789% !important; }
    .col-19-tablet.col-x13-tablet {
      width: 68.41105% !important; }
    .col-19-tablet.col-x14-tablet {
      width: 73.67421% !important; }
    .col-19-tablet.col-x15-tablet {
      width: 78.93737% !important; }
    .col-19-tablet.col-x16-tablet {
      width: 84.20053% !important; }
    .col-19-tablet.col-x17-tablet {
      width: 89.46368% !important; }
    .col-19-tablet.col-x18-tablet {
      width: 94.72684% !important; }

  .col-20-tablet {
    width: 4.99% !important; }
    .col-20-tablet.col-x2-tablet {
      width: 9.99% !important; }
    .col-20-tablet.col-x3-tablet {
      width: 14.99% !important; }
    .col-20-tablet.col-x4-tablet {
      width: 19.99% !important; }
    .col-20-tablet.col-x5-tablet {
      width: 24.99% !important; }
    .col-20-tablet.col-x6-tablet {
      width: 29.99% !important; }
    .col-20-tablet.col-x7-tablet {
      width: 34.99% !important; }
    .col-20-tablet.col-x8-tablet {
      width: 39.99% !important; }
    .col-20-tablet.col-x9-tablet {
      width: 44.99% !important; }
    .col-20-tablet.col-x10-tablet {
      width: 49.99% !important; }
    .col-20-tablet.col-x11-tablet {
      width: 54.99% !important; }
    .col-20-tablet.col-x12-tablet {
      width: 59.99% !important; }
    .col-20-tablet.col-x13-tablet {
      width: 64.99% !important; }
    .col-20-tablet.col-x14-tablet {
      width: 69.99% !important; }
    .col-20-tablet.col-x15-tablet {
      width: 74.99% !important; }
    .col-20-tablet.col-x16-tablet {
      width: 79.99% !important; }
    .col-20-tablet.col-x17-tablet {
      width: 84.99% !important; }
    .col-20-tablet.col-x18-tablet {
      width: 89.99% !important; }
    .col-20-tablet.col-x19-tablet {
      width: 94.99% !important; }

  .col-21-tablet {
    width: 4.7519% !important; }
    .col-21-tablet.col-x2-tablet {
      width: 9.51381% !important; }
    .col-21-tablet.col-x3-tablet {
      width: 14.27571% !important; }
    .col-21-tablet.col-x4-tablet {
      width: 19.03762% !important; }
    .col-21-tablet.col-x5-tablet {
      width: 23.79952% !important; }
    .col-21-tablet.col-x6-tablet {
      width: 28.56143% !important; }
    .col-21-tablet.col-x7-tablet {
      width: 33.32333% !important; }
    .col-21-tablet.col-x8-tablet {
      width: 38.08524% !important; }
    .col-21-tablet.col-x9-tablet {
      width: 42.84714% !important; }
    .col-21-tablet.col-x10-tablet {
      width: 47.60905% !important; }
    .col-21-tablet.col-x11-tablet {
      width: 52.37095% !important; }
    .col-21-tablet.col-x12-tablet {
      width: 57.13286% !important; }
    .col-21-tablet.col-x13-tablet {
      width: 61.89476% !important; }
    .col-21-tablet.col-x14-tablet {
      width: 66.65667% !important; }
    .col-21-tablet.col-x15-tablet {
      width: 71.41857% !important; }
    .col-21-tablet.col-x16-tablet {
      width: 76.18048% !important; }
    .col-21-tablet.col-x17-tablet {
      width: 80.94238% !important; }
    .col-21-tablet.col-x18-tablet {
      width: 85.70429% !important; }
    .col-21-tablet.col-x19-tablet {
      width: 90.46619% !important; }
    .col-21-tablet.col-x20-tablet {
      width: 95.2281% !important; }

  .col-22-tablet {
    width: 4.53545% !important; }
    .col-22-tablet.col-x2-tablet {
      width: 9.08091% !important; }
    .col-22-tablet.col-x3-tablet {
      width: 13.62636% !important; }
    .col-22-tablet.col-x4-tablet {
      width: 18.17182% !important; }
    .col-22-tablet.col-x5-tablet {
      width: 22.71727% !important; }
    .col-22-tablet.col-x6-tablet {
      width: 27.26273% !important; }
    .col-22-tablet.col-x7-tablet {
      width: 31.80818% !important; }
    .col-22-tablet.col-x8-tablet {
      width: 36.35364% !important; }
    .col-22-tablet.col-x9-tablet {
      width: 40.89909% !important; }
    .col-22-tablet.col-x10-tablet {
      width: 45.44455% !important; }
    .col-22-tablet.col-x11-tablet {
      width: 49.99% !important; }
    .col-22-tablet.col-x12-tablet {
      width: 54.53545% !important; }
    .col-22-tablet.col-x13-tablet {
      width: 59.08091% !important; }
    .col-22-tablet.col-x14-tablet {
      width: 63.62636% !important; }
    .col-22-tablet.col-x15-tablet {
      width: 68.17182% !important; }
    .col-22-tablet.col-x16-tablet {
      width: 72.71727% !important; }
    .col-22-tablet.col-x17-tablet {
      width: 77.26273% !important; }
    .col-22-tablet.col-x18-tablet {
      width: 81.80818% !important; }
    .col-22-tablet.col-x19-tablet {
      width: 86.35364% !important; }
    .col-22-tablet.col-x20-tablet {
      width: 90.89909% !important; }
    .col-22-tablet.col-x21-tablet {
      width: 95.44455% !important; }

  .col-23-tablet {
    width: 4.33783% !important; }
    .col-23-tablet.col-x2-tablet {
      width: 8.68565% !important; }
    .col-23-tablet.col-x3-tablet {
      width: 13.03348% !important; }
    .col-23-tablet.col-x4-tablet {
      width: 17.3813% !important; }
    .col-23-tablet.col-x5-tablet {
      width: 21.72913% !important; }
    .col-23-tablet.col-x6-tablet {
      width: 26.07696% !important; }
    .col-23-tablet.col-x7-tablet {
      width: 30.42478% !important; }
    .col-23-tablet.col-x8-tablet {
      width: 34.77261% !important; }
    .col-23-tablet.col-x9-tablet {
      width: 39.12043% !important; }
    .col-23-tablet.col-x10-tablet {
      width: 43.46826% !important; }
    .col-23-tablet.col-x11-tablet {
      width: 47.81609% !important; }
    .col-23-tablet.col-x12-tablet {
      width: 52.16391% !important; }
    .col-23-tablet.col-x13-tablet {
      width: 56.51174% !important; }
    .col-23-tablet.col-x14-tablet {
      width: 60.85957% !important; }
    .col-23-tablet.col-x15-tablet {
      width: 65.20739% !important; }
    .col-23-tablet.col-x16-tablet {
      width: 69.55522% !important; }
    .col-23-tablet.col-x17-tablet {
      width: 73.90304% !important; }
    .col-23-tablet.col-x18-tablet {
      width: 78.25087% !important; }
    .col-23-tablet.col-x19-tablet {
      width: 82.5987% !important; }
    .col-23-tablet.col-x20-tablet {
      width: 86.94652% !important; }
    .col-23-tablet.col-x21-tablet {
      width: 91.29435% !important; }
    .col-23-tablet.col-x22-tablet {
      width: 95.64217% !important; }

  .col-24-tablet {
    width: 4.15667% !important; }
    .col-24-tablet.col-x2-tablet {
      width: 8.32333% !important; }
    .col-24-tablet.col-x3-tablet {
      width: 12.49% !important; }
    .col-24-tablet.col-x4-tablet {
      width: 16.65667% !important; }
    .col-24-tablet.col-x5-tablet {
      width: 20.82333% !important; }
    .col-24-tablet.col-x6-tablet {
      width: 24.99% !important; }
    .col-24-tablet.col-x7-tablet {
      width: 29.15667% !important; }
    .col-24-tablet.col-x8-tablet {
      width: 33.32333% !important; }
    .col-24-tablet.col-x9-tablet {
      width: 37.49% !important; }
    .col-24-tablet.col-x10-tablet {
      width: 41.65667% !important; }
    .col-24-tablet.col-x11-tablet {
      width: 45.82333% !important; }
    .col-24-tablet.col-x12-tablet {
      width: 49.99% !important; }
    .col-24-tablet.col-x13-tablet {
      width: 54.15667% !important; }
    .col-24-tablet.col-x14-tablet {
      width: 58.32333% !important; }
    .col-24-tablet.col-x15-tablet {
      width: 62.49% !important; }
    .col-24-tablet.col-x16-tablet {
      width: 66.65667% !important; }
    .col-24-tablet.col-x17-tablet {
      width: 70.82333% !important; }
    .col-24-tablet.col-x18-tablet {
      width: 74.99% !important; }
    .col-24-tablet.col-x19-tablet {
      width: 79.15667% !important; }
    .col-24-tablet.col-x20-tablet {
      width: 83.32333% !important; }
    .col-24-tablet.col-x21-tablet {
      width: 87.49% !important; }
    .col-24-tablet.col-x22-tablet {
      width: 91.65667% !important; }
    .col-24-tablet.col-x23-tablet {
      width: 95.82333% !important; } }
@media screen and (max-width: 425px) {
  .col-1-mobile {
    width: 99.99% !important; }

  .col-2-mobile {
    width: 49.99% !important; }

  .col-3-mobile {
    width: 33.32333% !important; }
    .col-3-mobile.col-x2-mobile {
      width: 66.65667% !important; }

  .col-4-mobile {
    width: 24.99% !important; }
    .col-4-mobile.col-x2-mobile {
      width: 49.99% !important; }
    .col-4-mobile.col-x3-mobile {
      width: 74.99% !important; }

  .col-5-mobile {
    width: 19.99% !important; }
    .col-5-mobile.col-x2-mobile {
      width: 39.99% !important; }
    .col-5-mobile.col-x3-mobile {
      width: 59.99% !important; }
    .col-5-mobile.col-x4-mobile {
      width: 79.99% !important; }

  .col-6-mobile {
    width: 16.65667% !important; }
    .col-6-mobile.col-x2-mobile {
      width: 33.32333% !important; }
    .col-6-mobile.col-x3-mobile {
      width: 49.99% !important; }
    .col-6-mobile.col-x4-mobile {
      width: 66.65667% !important; }
    .col-6-mobile.col-x5-mobile {
      width: 83.32333% !important; }

  .col-7-mobile {
    width: 14.27571% !important; }
    .col-7-mobile.col-x2-mobile {
      width: 28.56143% !important; }
    .col-7-mobile.col-x3-mobile {
      width: 42.84714% !important; }
    .col-7-mobile.col-x4-mobile {
      width: 57.13286% !important; }
    .col-7-mobile.col-x5-mobile {
      width: 71.41857% !important; }
    .col-7-mobile.col-x6-mobile {
      width: 85.70429% !important; }

  .col-8-mobile {
    width: 12.49% !important; }
    .col-8-mobile.col-x2-mobile {
      width: 24.99% !important; }
    .col-8-mobile.col-x3-mobile {
      width: 37.49% !important; }
    .col-8-mobile.col-x4-mobile {
      width: 49.99% !important; }
    .col-8-mobile.col-x5-mobile {
      width: 62.49% !important; }
    .col-8-mobile.col-x6-mobile {
      width: 74.99% !important; }
    .col-8-mobile.col-x7-mobile {
      width: 87.49% !important; }

  .col-9-mobile {
    width: 11.10111% !important; }
    .col-9-mobile.col-x2-mobile {
      width: 22.21222% !important; }
    .col-9-mobile.col-x3-mobile {
      width: 33.32333% !important; }
    .col-9-mobile.col-x4-mobile {
      width: 44.43444% !important; }
    .col-9-mobile.col-x5-mobile {
      width: 55.54556% !important; }
    .col-9-mobile.col-x6-mobile {
      width: 66.65667% !important; }
    .col-9-mobile.col-x7-mobile {
      width: 77.76778% !important; }
    .col-9-mobile.col-x8-mobile {
      width: 88.87889% !important; }

  .col-10-mobile {
    width: 9.99% !important; }
    .col-10-mobile.col-x2-mobile {
      width: 19.99% !important; }
    .col-10-mobile.col-x3-mobile {
      width: 29.99% !important; }
    .col-10-mobile.col-x4-mobile {
      width: 39.99% !important; }
    .col-10-mobile.col-x5-mobile {
      width: 49.99% !important; }
    .col-10-mobile.col-x6-mobile {
      width: 59.99% !important; }
    .col-10-mobile.col-x7-mobile {
      width: 69.99% !important; }
    .col-10-mobile.col-x8-mobile {
      width: 79.99% !important; }
    .col-10-mobile.col-x9-mobile {
      width: 89.99% !important; }

  .col-11-mobile {
    width: 9.08091% !important; }
    .col-11-mobile.col-x2-mobile {
      width: 18.17182% !important; }
    .col-11-mobile.col-x3-mobile {
      width: 27.26273% !important; }
    .col-11-mobile.col-x4-mobile {
      width: 36.35364% !important; }
    .col-11-mobile.col-x5-mobile {
      width: 45.44455% !important; }
    .col-11-mobile.col-x6-mobile {
      width: 54.53545% !important; }
    .col-11-mobile.col-x7-mobile {
      width: 63.62636% !important; }
    .col-11-mobile.col-x8-mobile {
      width: 72.71727% !important; }
    .col-11-mobile.col-x9-mobile {
      width: 81.80818% !important; }
    .col-11-mobile.col-x10-mobile {
      width: 90.89909% !important; }

  .col-12-mobile {
    width: 8.32333% !important; }
    .col-12-mobile.col-x2-mobile {
      width: 16.65667% !important; }
    .col-12-mobile.col-x3-mobile {
      width: 24.99% !important; }
    .col-12-mobile.col-x4-mobile {
      width: 33.32333% !important; }
    .col-12-mobile.col-x5-mobile {
      width: 41.65667% !important; }
    .col-12-mobile.col-x6-mobile {
      width: 49.99% !important; }
    .col-12-mobile.col-x7-mobile {
      width: 58.32333% !important; }
    .col-12-mobile.col-x8-mobile {
      width: 66.65667% !important; }
    .col-12-mobile.col-x9-mobile {
      width: 74.99% !important; }
    .col-12-mobile.col-x10-mobile {
      width: 83.32333% !important; }
    .col-12-mobile.col-x11-mobile {
      width: 91.65667% !important; }

  .col-13-mobile {
    width: 7.68231% !important; }
    .col-13-mobile.col-x2-mobile {
      width: 15.37462% !important; }
    .col-13-mobile.col-x3-mobile {
      width: 23.06692% !important; }
    .col-13-mobile.col-x4-mobile {
      width: 30.75923% !important; }
    .col-13-mobile.col-x5-mobile {
      width: 38.45154% !important; }
    .col-13-mobile.col-x6-mobile {
      width: 46.14385% !important; }
    .col-13-mobile.col-x7-mobile {
      width: 53.83615% !important; }
    .col-13-mobile.col-x8-mobile {
      width: 61.52846% !important; }
    .col-13-mobile.col-x9-mobile {
      width: 69.22077% !important; }
    .col-13-mobile.col-x10-mobile {
      width: 76.91308% !important; }
    .col-13-mobile.col-x11-mobile {
      width: 84.60538% !important; }
    .col-13-mobile.col-x12-mobile {
      width: 92.29769% !important; }

  .col-14-mobile {
    width: 7.13286% !important; }
    .col-14-mobile.col-x2-mobile {
      width: 14.27571% !important; }
    .col-14-mobile.col-x3-mobile {
      width: 21.41857% !important; }
    .col-14-mobile.col-x4-mobile {
      width: 28.56143% !important; }
    .col-14-mobile.col-x5-mobile {
      width: 35.70429% !important; }
    .col-14-mobile.col-x6-mobile {
      width: 42.84714% !important; }
    .col-14-mobile.col-x7-mobile {
      width: 49.99% !important; }
    .col-14-mobile.col-x8-mobile {
      width: 57.13286% !important; }
    .col-14-mobile.col-x9-mobile {
      width: 64.27571% !important; }
    .col-14-mobile.col-x10-mobile {
      width: 71.41857% !important; }
    .col-14-mobile.col-x11-mobile {
      width: 78.56143% !important; }
    .col-14-mobile.col-x12-mobile {
      width: 85.70429% !important; }
    .col-14-mobile.col-x13-mobile {
      width: 92.84714% !important; }

  .col-15-mobile {
    width: 6.65667% !important; }
    .col-15-mobile.col-x2-mobile {
      width: 13.32333% !important; }
    .col-15-mobile.col-x3-mobile {
      width: 19.99% !important; }
    .col-15-mobile.col-x4-mobile {
      width: 26.65667% !important; }
    .col-15-mobile.col-x5-mobile {
      width: 33.32333% !important; }
    .col-15-mobile.col-x6-mobile {
      width: 39.99% !important; }
    .col-15-mobile.col-x7-mobile {
      width: 46.65667% !important; }
    .col-15-mobile.col-x8-mobile {
      width: 53.32333% !important; }
    .col-15-mobile.col-x9-mobile {
      width: 59.99% !important; }
    .col-15-mobile.col-x10-mobile {
      width: 66.65667% !important; }
    .col-15-mobile.col-x11-mobile {
      width: 73.32333% !important; }
    .col-15-mobile.col-x12-mobile {
      width: 79.99% !important; }
    .col-15-mobile.col-x13-mobile {
      width: 86.65667% !important; }
    .col-15-mobile.col-x14-mobile {
      width: 93.32333% !important; }

  .col-16-mobile {
    width: 6.24% !important; }
    .col-16-mobile.col-x2-mobile {
      width: 12.49% !important; }
    .col-16-mobile.col-x3-mobile {
      width: 18.74% !important; }
    .col-16-mobile.col-x4-mobile {
      width: 24.99% !important; }
    .col-16-mobile.col-x5-mobile {
      width: 31.24% !important; }
    .col-16-mobile.col-x6-mobile {
      width: 37.49% !important; }
    .col-16-mobile.col-x7-mobile {
      width: 43.74% !important; }
    .col-16-mobile.col-x8-mobile {
      width: 49.99% !important; }
    .col-16-mobile.col-x9-mobile {
      width: 56.24% !important; }
    .col-16-mobile.col-x10-mobile {
      width: 62.49% !important; }
    .col-16-mobile.col-x11-mobile {
      width: 68.74% !important; }
    .col-16-mobile.col-x12-mobile {
      width: 74.99% !important; }
    .col-16-mobile.col-x13-mobile {
      width: 81.24% !important; }
    .col-16-mobile.col-x14-mobile {
      width: 87.49% !important; }
    .col-16-mobile.col-x15-mobile {
      width: 93.74% !important; }

  .col-17-mobile {
    width: 5.87235% !important; }
    .col-17-mobile.col-x2-mobile {
      width: 11.75471% !important; }
    .col-17-mobile.col-x3-mobile {
      width: 17.63706% !important; }
    .col-17-mobile.col-x4-mobile {
      width: 23.51941% !important; }
    .col-17-mobile.col-x5-mobile {
      width: 29.40176% !important; }
    .col-17-mobile.col-x6-mobile {
      width: 35.28412% !important; }
    .col-17-mobile.col-x7-mobile {
      width: 41.16647% !important; }
    .col-17-mobile.col-x8-mobile {
      width: 47.04882% !important; }
    .col-17-mobile.col-x9-mobile {
      width: 52.93118% !important; }
    .col-17-mobile.col-x10-mobile {
      width: 58.81353% !important; }
    .col-17-mobile.col-x11-mobile {
      width: 64.69588% !important; }
    .col-17-mobile.col-x12-mobile {
      width: 70.57824% !important; }
    .col-17-mobile.col-x13-mobile {
      width: 76.46059% !important; }
    .col-17-mobile.col-x14-mobile {
      width: 82.34294% !important; }
    .col-17-mobile.col-x15-mobile {
      width: 88.22529% !important; }
    .col-17-mobile.col-x16-mobile {
      width: 94.10765% !important; }

  .col-18-mobile {
    width: 5.54556% !important; }
    .col-18-mobile.col-x2-mobile {
      width: 11.10111% !important; }
    .col-18-mobile.col-x3-mobile {
      width: 16.65667% !important; }
    .col-18-mobile.col-x4-mobile {
      width: 22.21222% !important; }
    .col-18-mobile.col-x5-mobile {
      width: 27.76778% !important; }
    .col-18-mobile.col-x6-mobile {
      width: 33.32333% !important; }
    .col-18-mobile.col-x7-mobile {
      width: 38.87889% !important; }
    .col-18-mobile.col-x8-mobile {
      width: 44.43444% !important; }
    .col-18-mobile.col-x9-mobile {
      width: 49.99% !important; }
    .col-18-mobile.col-x10-mobile {
      width: 55.54556% !important; }
    .col-18-mobile.col-x11-mobile {
      width: 61.10111% !important; }
    .col-18-mobile.col-x12-mobile {
      width: 66.65667% !important; }
    .col-18-mobile.col-x13-mobile {
      width: 72.21222% !important; }
    .col-18-mobile.col-x14-mobile {
      width: 77.76778% !important; }
    .col-18-mobile.col-x15-mobile {
      width: 83.32333% !important; }
    .col-18-mobile.col-x16-mobile {
      width: 88.87889% !important; }
    .col-18-mobile.col-x17-mobile {
      width: 94.43444% !important; }

  .col-19-mobile {
    width: 5.25316% !important; }
    .col-19-mobile.col-x2-mobile {
      width: 10.51632% !important; }
    .col-19-mobile.col-x3-mobile {
      width: 15.77947% !important; }
    .col-19-mobile.col-x4-mobile {
      width: 21.04263% !important; }
    .col-19-mobile.col-x5-mobile {
      width: 26.30579% !important; }
    .col-19-mobile.col-x6-mobile {
      width: 31.56895% !important; }
    .col-19-mobile.col-x7-mobile {
      width: 36.83211% !important; }
    .col-19-mobile.col-x8-mobile {
      width: 42.09526% !important; }
    .col-19-mobile.col-x9-mobile {
      width: 47.35842% !important; }
    .col-19-mobile.col-x10-mobile {
      width: 52.62158% !important; }
    .col-19-mobile.col-x11-mobile {
      width: 57.88474% !important; }
    .col-19-mobile.col-x12-mobile {
      width: 63.14789% !important; }
    .col-19-mobile.col-x13-mobile {
      width: 68.41105% !important; }
    .col-19-mobile.col-x14-mobile {
      width: 73.67421% !important; }
    .col-19-mobile.col-x15-mobile {
      width: 78.93737% !important; }
    .col-19-mobile.col-x16-mobile {
      width: 84.20053% !important; }
    .col-19-mobile.col-x17-mobile {
      width: 89.46368% !important; }
    .col-19-mobile.col-x18-mobile {
      width: 94.72684% !important; }

  .col-20-mobile {
    width: 4.99% !important; }
    .col-20-mobile.col-x2-mobile {
      width: 9.99% !important; }
    .col-20-mobile.col-x3-mobile {
      width: 14.99% !important; }
    .col-20-mobile.col-x4-mobile {
      width: 19.99% !important; }
    .col-20-mobile.col-x5-mobile {
      width: 24.99% !important; }
    .col-20-mobile.col-x6-mobile {
      width: 29.99% !important; }
    .col-20-mobile.col-x7-mobile {
      width: 34.99% !important; }
    .col-20-mobile.col-x8-mobile {
      width: 39.99% !important; }
    .col-20-mobile.col-x9-mobile {
      width: 44.99% !important; }
    .col-20-mobile.col-x10-mobile {
      width: 49.99% !important; }
    .col-20-mobile.col-x11-mobile {
      width: 54.99% !important; }
    .col-20-mobile.col-x12-mobile {
      width: 59.99% !important; }
    .col-20-mobile.col-x13-mobile {
      width: 64.99% !important; }
    .col-20-mobile.col-x14-mobile {
      width: 69.99% !important; }
    .col-20-mobile.col-x15-mobile {
      width: 74.99% !important; }
    .col-20-mobile.col-x16-mobile {
      width: 79.99% !important; }
    .col-20-mobile.col-x17-mobile {
      width: 84.99% !important; }
    .col-20-mobile.col-x18-mobile {
      width: 89.99% !important; }
    .col-20-mobile.col-x19-mobile {
      width: 94.99% !important; }

  .col-21-mobile {
    width: 4.7519% !important; }
    .col-21-mobile.col-x2-mobile {
      width: 9.51381% !important; }
    .col-21-mobile.col-x3-mobile {
      width: 14.27571% !important; }
    .col-21-mobile.col-x4-mobile {
      width: 19.03762% !important; }
    .col-21-mobile.col-x5-mobile {
      width: 23.79952% !important; }
    .col-21-mobile.col-x6-mobile {
      width: 28.56143% !important; }
    .col-21-mobile.col-x7-mobile {
      width: 33.32333% !important; }
    .col-21-mobile.col-x8-mobile {
      width: 38.08524% !important; }
    .col-21-mobile.col-x9-mobile {
      width: 42.84714% !important; }
    .col-21-mobile.col-x10-mobile {
      width: 47.60905% !important; }
    .col-21-mobile.col-x11-mobile {
      width: 52.37095% !important; }
    .col-21-mobile.col-x12-mobile {
      width: 57.13286% !important; }
    .col-21-mobile.col-x13-mobile {
      width: 61.89476% !important; }
    .col-21-mobile.col-x14-mobile {
      width: 66.65667% !important; }
    .col-21-mobile.col-x15-mobile {
      width: 71.41857% !important; }
    .col-21-mobile.col-x16-mobile {
      width: 76.18048% !important; }
    .col-21-mobile.col-x17-mobile {
      width: 80.94238% !important; }
    .col-21-mobile.col-x18-mobile {
      width: 85.70429% !important; }
    .col-21-mobile.col-x19-mobile {
      width: 90.46619% !important; }
    .col-21-mobile.col-x20-mobile {
      width: 95.2281% !important; }

  .col-22-mobile {
    width: 4.53545% !important; }
    .col-22-mobile.col-x2-mobile {
      width: 9.08091% !important; }
    .col-22-mobile.col-x3-mobile {
      width: 13.62636% !important; }
    .col-22-mobile.col-x4-mobile {
      width: 18.17182% !important; }
    .col-22-mobile.col-x5-mobile {
      width: 22.71727% !important; }
    .col-22-mobile.col-x6-mobile {
      width: 27.26273% !important; }
    .col-22-mobile.col-x7-mobile {
      width: 31.80818% !important; }
    .col-22-mobile.col-x8-mobile {
      width: 36.35364% !important; }
    .col-22-mobile.col-x9-mobile {
      width: 40.89909% !important; }
    .col-22-mobile.col-x10-mobile {
      width: 45.44455% !important; }
    .col-22-mobile.col-x11-mobile {
      width: 49.99% !important; }
    .col-22-mobile.col-x12-mobile {
      width: 54.53545% !important; }
    .col-22-mobile.col-x13-mobile {
      width: 59.08091% !important; }
    .col-22-mobile.col-x14-mobile {
      width: 63.62636% !important; }
    .col-22-mobile.col-x15-mobile {
      width: 68.17182% !important; }
    .col-22-mobile.col-x16-mobile {
      width: 72.71727% !important; }
    .col-22-mobile.col-x17-mobile {
      width: 77.26273% !important; }
    .col-22-mobile.col-x18-mobile {
      width: 81.80818% !important; }
    .col-22-mobile.col-x19-mobile {
      width: 86.35364% !important; }
    .col-22-mobile.col-x20-mobile {
      width: 90.89909% !important; }
    .col-22-mobile.col-x21-mobile {
      width: 95.44455% !important; }

  .col-23-mobile {
    width: 4.33783% !important; }
    .col-23-mobile.col-x2-mobile {
      width: 8.68565% !important; }
    .col-23-mobile.col-x3-mobile {
      width: 13.03348% !important; }
    .col-23-mobile.col-x4-mobile {
      width: 17.3813% !important; }
    .col-23-mobile.col-x5-mobile {
      width: 21.72913% !important; }
    .col-23-mobile.col-x6-mobile {
      width: 26.07696% !important; }
    .col-23-mobile.col-x7-mobile {
      width: 30.42478% !important; }
    .col-23-mobile.col-x8-mobile {
      width: 34.77261% !important; }
    .col-23-mobile.col-x9-mobile {
      width: 39.12043% !important; }
    .col-23-mobile.col-x10-mobile {
      width: 43.46826% !important; }
    .col-23-mobile.col-x11-mobile {
      width: 47.81609% !important; }
    .col-23-mobile.col-x12-mobile {
      width: 52.16391% !important; }
    .col-23-mobile.col-x13-mobile {
      width: 56.51174% !important; }
    .col-23-mobile.col-x14-mobile {
      width: 60.85957% !important; }
    .col-23-mobile.col-x15-mobile {
      width: 65.20739% !important; }
    .col-23-mobile.col-x16-mobile {
      width: 69.55522% !important; }
    .col-23-mobile.col-x17-mobile {
      width: 73.90304% !important; }
    .col-23-mobile.col-x18-mobile {
      width: 78.25087% !important; }
    .col-23-mobile.col-x19-mobile {
      width: 82.5987% !important; }
    .col-23-mobile.col-x20-mobile {
      width: 86.94652% !important; }
    .col-23-mobile.col-x21-mobile {
      width: 91.29435% !important; }
    .col-23-mobile.col-x22-mobile {
      width: 95.64217% !important; }

  .col-24-mobile {
    width: 4.15667% !important; }
    .col-24-mobile.col-x2-mobile {
      width: 8.32333% !important; }
    .col-24-mobile.col-x3-mobile {
      width: 12.49% !important; }
    .col-24-mobile.col-x4-mobile {
      width: 16.65667% !important; }
    .col-24-mobile.col-x5-mobile {
      width: 20.82333% !important; }
    .col-24-mobile.col-x6-mobile {
      width: 24.99% !important; }
    .col-24-mobile.col-x7-mobile {
      width: 29.15667% !important; }
    .col-24-mobile.col-x8-mobile {
      width: 33.32333% !important; }
    .col-24-mobile.col-x9-mobile {
      width: 37.49% !important; }
    .col-24-mobile.col-x10-mobile {
      width: 41.65667% !important; }
    .col-24-mobile.col-x11-mobile {
      width: 45.82333% !important; }
    .col-24-mobile.col-x12-mobile {
      width: 49.99% !important; }
    .col-24-mobile.col-x13-mobile {
      width: 54.15667% !important; }
    .col-24-mobile.col-x14-mobile {
      width: 58.32333% !important; }
    .col-24-mobile.col-x15-mobile {
      width: 62.49% !important; }
    .col-24-mobile.col-x16-mobile {
      width: 66.65667% !important; }
    .col-24-mobile.col-x17-mobile {
      width: 70.82333% !important; }
    .col-24-mobile.col-x18-mobile {
      width: 74.99% !important; }
    .col-24-mobile.col-x19-mobile {
      width: 79.15667% !important; }
    .col-24-mobile.col-x20-mobile {
      width: 83.32333% !important; }
    .col-24-mobile.col-x21-mobile {
      width: 87.49% !important; }
    .col-24-mobile.col-x22-mobile {
      width: 91.65667% !important; }
    .col-24-mobile.col-x23-mobile {
      width: 95.82333% !important; } }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

hr {
  border-left: none;
  border-bottom: none;
  border-right: none; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body > img,
body > iframe {
  position: fixed; }

#Header *:not(input):not(textarea),
#NavMenu *:not(input):not(textarea) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.floatfix:after {
  content: '';
  clear: both;
  width: 100%;
  display: block; }

.hide,
.hidden {
  display: none; }

/* TURNS OFF DOWNLOAD BUTTON ON VIDEO PLAYER */
video::-internal-media-controls-download-button {
  display: none; }

video::-webkit-media-controls-enclosure {
  overflow: hidden; }

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust as needed */ }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box; }

body {
  color: #888; }

a {
  text-decoration: none;
  color: black; }

header {
  padding: 1em;
  border-bottom: 1px solid; }
  header .links {
    float: right; }
    header .links a {
      display: inline-block;
      margin-left: 1em;
      padding-bottom: 1em;
      -webkit-transition: all 350ms;
      -moz-transition: all 350ms;
      -ms-transition: all 350ms;
      -o-transition: all 350ms;
      transition: all 350ms; }
      header .links a:hover {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px); }

footer {
  padding: 1em;
  font-size: 0.5em;
  text-align: right; }

section {
  font-style: italic;
  padding: 1em; }
  section h2 {
    margin: 0.5em 0; }
  section p {
    margin: 1em 0; }
  section ul {
    list-style: disc;
    margin-left: 1em; }

/*# sourceMappingURL=site.css.map */
